<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
  style="background-color: transparent">

  <mat-drawer
    #drawer
    class="drawer"
    mode="side"
    opened="false"
    position="start">

    <mat-toolbar class="header" color="primary">
      <div class="ps-3">Menu</div>
      <mat-icon
        class="close"
        (click)="drawer.close()"
        style="position: relative; right: 1rem;">
        close
      </mat-icon>
    </mat-toolbar>
    <div class="contents">
      <app-side-menu
      (itemSelected)="onItemSelected($event, drawer)">
      </app-side-menu>
    </div>
  </mat-drawer>

  <button
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="!drawer.opened">
    <mat-icon>menu</mat-icon>
  </button>

</mat-drawer-container>
