<mat-nav-list>

  <h3 matSubheader style="padding-left: 1rem;">Preferred Color Scheme</h3>

  <!--
  <mat-list-item
    *ngFor="let theme of themes"
    (click)="setTheme(theme.name)">
    <div style="display: flex; flex-direction: row;">
      <mat-icon mat-list-icon style="margin-right: 8px; position: relative; top: 10px;">{{ theme.icon }}</mat-icon>
      <h3 matLine style="margin-right: 8px; position: relative; top: 10px;">{{ theme.name }}</h3>
      <mat-icon *ngIf="colorSchemeService.currentActive() === theme.name" style="margin-right: 8px; position: relative; top: 10px;">check</mat-icon>
    </div>
  </mat-list-item>
  -->

  @for (theme of themes; track theme.name)
  {
    <mat-list-item (click)="setTheme(theme.name)">
      <div class="d-flex flex-row">
        <mat-icon mat-list-icon class="me-2">
          {{ theme.icon }}
        </mat-icon>
        <div matLine class="me-2">
          {{ theme.name }}
        </div>
        @if (colorSchemeService.currentActive() === theme.name)
        {
          <mat-icon class="me-2">
            {{'check'}}
          </mat-icon>
        }
      </div>
    </mat-list-item>
  }

</mat-nav-list>
